body, html, #root {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevents scrolling */
  }
  
  .particles-container {
    position: fixed; /* Changed to fixed to cover entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-color: #f8f9fa; /* Light background color */
  }
  
  @media (max-width: 768px) {
    .particles-container {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  
  