.mainPage {
    padding: 20px;
    background-color: #f4f4f4;
    background: linear-gradient(to right, #7c8186, #274244);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-content {
    max-width: 1200px;
    width: 100%;
    z-index: 10000;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.task-input button {
    background-color: rgb(26 27 27);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.task-input button:hover {
    background-color: #0056b3;
}

.task-board {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 29rem;

}

.task-column {
    flex: 1 1;
    padding: 10px;
    background-color: #337e87;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-column h2 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.task-column ul {
    list-style: none;
    padding: 0;
}

.task-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item span {
    flex-grow: 1;
}

.task-item div {
    display: flex;
    gap: 10px;
}

.task-item button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.task-item button:hover {
    color: #007bff;
}
